<div id="save-map-name-dialog" data-role="popup">
    <div id="save-map-name-dialog-input">
        <label for="saved-map-name-dialog-text" data-i18n="{{data.text.i18n}}">
            {{data.text.default}}
        </label>
      <input type="text" id="saved-map-name-dialog-text" value="">
      <input type="hidden" id="saved-map-name-dialog-save-to" value="">
    </div>
    <div id="save-map-name-dialog-info">
    </div>
    <a id="saved-map-name-dialog-btn" data-role="button" href="#" data-i18n="{{data.save.i18n}}">
        {{data.save.default}}
    </a>
    <a id="saved-map-name-dialog-cancel-btn" data-role="button" href="#" data-i18n="{{data.cancel.i18n}}">
        {{data.cancel.default}}
    </a>
</div>
