<div id="saved-maps-delete-popup"
     data-role="popup"
     data-overlay-theme="a"
     class="ui-corner-all">
  <div class="ui-corner-all ui-content">
    <p>{{data["question"]}}
      <span id="saved-maps-delete-popup-name"></span>?
    </p>
    <a href="#"
       data-role="button"
       data-theme="a"
       data-inline="true"
       data-rel="back">{{data["cancel"]}}</a>
    <a id="saved-maps-delete-popup-confirm"
       href="#"
       data-theme="a"
       data-role="button"
       data-inline="true">{{data["cancel"]}}</a>
  </div>
</div>
